.item_list {
  margin: 20px, auto;
  color: #4d4d4d;
  list-style: none;
  width: 75%;
}
.customer_item_list {
  display: inline-block;
  height: 3em;
  width: 25%;
}
.link_list{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  list-style: none;
  > li {
    display: inline-block;
    color: #4d4d4d;
    font-size: 1em;
    padding: 5px;
    line-height: 1em;
    &:after {
      content: "\00a0\00a0\00a0|";
    }
    &:last-of-type:after {
      content: none;
    }
  }
  > li > a {
    text-decoration: none;
    color: inherit;
  }
  > li > a:hover {
    color: #e94100;
  }
}
